*{
    text-decoration: none;
   
}

/* body{
    background-image: url("./image/login.jpg");
    background-size: cover;  
    
} */


.title{
    width:80%; 
    float:right; 
    /* display: inline; */
    font-size: 30px;
    /* color: blue; */
}
.login{
    /* border:2px groove #b31217 ; */
    width:400px;
    height:280px;
    padding:20px 40px;
    text-align: center;
    border-radius: 50px;
    margin-top:200px ;
    margin-left:600px;
    box-shadow: 10px 10px 10px black ;
    background-color: white;
}

/* button{
    width:100px;
    height:40px;
    border-radius: 20px;
    color: blue;
    font-size:20px;
    font-weight: bold;   
} */

.user{
    height:40px;
    width:150px;
    background-color: white;
    float:right;
    text-align: center;
    padding:20px 5px 0px 10px;
    margin-right:50px;
 
    

}

#logout{
    
    float:right;
    height:40px;
    width:10px;
    background-color: white;
  
    text-align: center;
    padding:20px 5px 0px 10px;
    margin-right:50px;
 
}

.logout-form{
  
    float:inline-end;
    margin-left:70%;
    width:60%;
    text-align: end;
}

.navbar :hover {
    
    background-color: red;
}
/*  home page */
#content{
    width:80%;
   margin:auto;
   color:blue;
}
#form-box{
    width:60%;
   margin:auto;
   
   padding:50px;
}


/* registration */
.registration{
    width:600px;
    height:600px;
   /* background-color: aquamarine; */
    padding:30px 40px;
    /* text-align: center; */
    border-radius: 50px;
    margin:100px  auto;

}
input{
    margin:10px;
    /* width:300px; */
    color:none;
    border:none;
    border-bottom:1px solid gray ;
}

#gen{
   width:300px;
}
span{
    width:100px;
    padding-right:40px;
}
.submitBtn{
    margin-top:40px;
}

table ,th,td{
    border:2px;
    background-color: #84ed86; 
    color: #761a9b;
     margin: 0 auto;
}


.view-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .view-table td, .view-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .view-table tr:nth-child(even){background-color: #f2f2f2;}
  
  .view-table tr:hover {background-color: #ddd;}
  
  .view-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  /* .button {
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  } */






  input[type=text],input[type=password],input[type=email] {
    width: 80%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
  }

  select {
    width: 80%;
    margin:10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
    
  }
  
  label {
    padding: 6px 6px 6px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
 

  /* donar and request button */
  .button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    margin: 2% 30%;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .button2 {
   
    float: right;
    text-align: end;
    background-color: white; 
    color: grey; 
    border: 2px solid red;
    margin: 2% 30%;
  }
  .button2:hover {
    background-color: grey;
    color: white;
  }

  .login-input{
    width:60%;
  }

  /* .button3 {
    margin: 0px 0px;
    
  } */
  
  
